<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <%= image_tag('aico-logo.png', :class => 'footerLogo') %>
        <p>We at AICO Construction Inc. are devoted to serve with integrity, strong ethics, and clear communication.</p>
        <p><i class="fa fa-map-pin"></i> H, 1003 55 Ave NE, Calgary, Alberta T2E 6Z7</p>
        <p><a class="footerTelLink" href="tel:1-(877)-747-2426"><i class="fa fa-phone"></i>1-(877)-747-2426</a></p>
        <p><a class="footerMailLink" href="mailto:info@aico.ca"><i class="fa fa-envelope"></i>E-mail : info@aico.ca<a></p>

      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST BLOG</h6>
        <div class="post">
          <p>No blog entries present at this time. <span><%= DateTime.now.strftime("%B %d, %Y") %></span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="row">
          <div class="col-12">
            <center><iframe height="250" frameborder="0" width="300" src="https://homestars.com/widgets/reviews/aico-construction/" scrolling="no"><br /><p>Your browser does not support iframes.</p><br /></iframe></center>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <center><%= image_tag('tauren-tag-wht.png', :class => 'footerTag') %></center>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 All Rights Reserved AICO Construction Inc.</p>
    </div>
  </div>
</div>


<!-- Scripts -->

  <!-- FaceBook Like Button -->
