<div class="aboutParallax">
  <center><h3 class="aboutHeader">Why Choose AICO?</h3></center>
</div>

<div class="about1">
  <div class="container">
    <center><h4 class="aboutSubHeaders">Our Mission</h4></center>
    <center><p class="aboutText">We at AICO Construction Inc. are devoted to serve with integrity, strong ethics, and clear communication.</p></center>

    <center><h4 class="aboutSubHeaders">About AICO</h4></center>
    <center><p class="aboutText">With our involvement from the design stage, cost analysis, scheduling, project implementation, to post building maintenance, AICO delivers with on time scheduling and satisfaction. We give great emphasis on team building, personal growth and career training.Communication in the office and in the field is of top importance.
                                 AICO keeps ahead through productivity meetings, business coaching, and the aid of the latest in technology.One more key note to help our customers feel comfortable is our open book quote policy. We show you where all costs and expenses come from.</p></center>

    <center><p class="aboutText">We are professional restoration technicians and we understand the need for a quick and timely response when it comes to emergency restoration services. The key to effective remediation is making sure the mitigation is immediate controlling any escalating damages and costs. The longer the restoration or remediation is delayed, the higher the cost is to repair, restore or reconstruct. At Restoration Calgary, we are all certified restoration experts with the knowledge to properly test and  restore a property, with the experience required to return the home or business to its pre-loss condition.
    We are proudly <u><a class="iicrcLink" href="http://www.iicrc.org">IICRC</a></u> certified contractors, and work with all insurance providers</p></center>

    <center><%= link_to 'Contact Us 24/7', '#', :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
