<div class="asbestosServices">
  <div class="container">
    <center><h3 class="waterIconHeader">ASBESTOS ABATEMENT</h3></center>
    <div class="row">
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-clipboard fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">ASBESTOS TESTING</h5></br><p class="iconSubHeader">It’s vital for any home or business owner to hire asbestos experts that understand how to test for and find asbestos safely.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-truck fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">ASBESTOS REMOVAL</h5></br><p class="iconSubHeader">Asbestos removal removes the asbestos building products from a property, to mitigate the health risks associated with asbestos exposure.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-user-md fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">REMEDIATION</h5></br><p class="iconSubHeader">We are professional mold removal experts, we not only remove the problem area but also mitigate the chance of regrowth.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-heartbeat fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">ABATEMENT</h5></br><p class="iconSubHeader">If your home or business contains asbestos it is imperative to have the property properly mitigated by an asbestos professional.</p></center>
      </div>
    </div>
    <br>
    <center><%= link_to 'Contact Us 24/7', '#', :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
