<div class="biohazardServices">
  <div class="container">
    <center><h3 class="waterIconHeader">Biohazard Remediation</h3></center>
    <div class="row">
      <div class="col-s-12 col-md-4">
        <center><i class="fa fa-clock-o fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">24/7 BIOHAZARD REMEDIATION</h5></br><p class="iconSubHeader">We have the proper equipment, knowledge and experience to handle your commercial or residential biohazard needs.</p></center>
      </div>
      <div class="col-s-12 col-md-4">
        <center><i class="fa fa-life-ring fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">SEWAGE BACKUP</h5></br><p class="iconSubHeader">We provide immediate restoration services for all your sewage backup restoration needs. If you have any concerns or sewage backup issues contact AICO today!</p></center>
      </div>
      <div class="col-s-12 col-md-4">
        <center><i class="fa fa-user-md fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">TRAUMA SCENE</h5></br><p class="iconSubHeader">Trauma scenes can take an extreme physical toll on ones body, even on professionals. Leve the clean-up and restoration process to AICO.</p></center>
      </div>
    </div>
    <br>
    <center><%= link_to 'Contact Us 24/7', locations_path, :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
