<div class="elementalServices">
  <div class="container">
    <center><h3 class="waterIconHeader">WIND &AMP; HAIL DAMAGE</h3></center>
    <div class="row">
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-clock-o fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">24/7 RESPONSE</h5></br><p class="iconSubHeader">Any damaged facility should be analyzed for structural integrity, safety and functional capability. Actions including site stabilization and board up, temporary power installations and debris removal are all necessary considerations.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-tree fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">TREE IMPACT</h5></br><p class="iconSubHeader">The unpredictability of the stability of trees surrounding a house or building can be especially daunting during a wind storm. When a tree impact occurs, we can respond and assist as in any other structural emergency.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-home fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">ROOF REPAIR</h5></br><p class="iconSubHeader">Extensive water damage to your home from a leaky roof or from an adjacent structure can contribute to unseen destruction and sometimes, unsafe contaminants. We deal in all roofing applications.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-bolt fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">HAIL DAMAGE</h5></br><p class="iconSubHeader">Hail can be quite destructive. In Canada thousands of homes a year are damaged due to hail. We have our in house estimators and trades ready for the emergency response and rebuild of your loss.</p></center>
      </div>
    </div>
    <br>
    <center><%= link_to 'Contact Us 24/7', '#', :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
