<div class="fireServices">
  <div class="container">
    <center><h3 class="waterIconHeader">SMOKE &amp; FIRE DAMAGE RESTORATION</h3></center>
    <div class="row">
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-fire fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">24/7 EMERGENCY FIRE RESTORATION</h5></br><p class="iconSubHeader">No matter what time disaster strikes, our 24/7 emergency fire response team is available when you need them.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-cloud fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">SMOKE DAMAGE RESTORATION</h5></br><p class="iconSubHeader">Smoke damage after a fire can often be more damaging than the fire itself, make sure your home is restored from smoke damage.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-fire-extinguisher fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">FIRE DAMAGE<br />REPAIRS</h5></br><p class="iconSubHeader">We repair homes and buildings that have been damaged by fire and smoke, we ensure the restoration is back to new.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-industry fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">COMMERCIAL FIRE RESTORATION</h5></br><p class="iconSubHeader">We provide professional commercial fire and smoke restoration services for Canadian communities.</p></center>
      </div>
    </div>
    <br>
    <center><%= link_to 'Contact Us 24/7', locations_path, :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
