<div class="generalContractingServices">
  <div class="container">
    <center><h3 class="waterIconHeader">GENERAL CONTRACTING &amp; CONSTRUCTION MANAGEMENT</h3></center>
    <div class="row">
      <div class="col-s-12 col-md-12">
        <center><p class="iconSubHeader">AICO prides itself on having a strong team environment, focusing on good attitudes from the top of our company down. We give strong emphasis on integrity of our building and ethics.
                                           These qualities show in our on time schedule delivery, clear communication and organized projects in the office and in the field.</p></center>
        <center>
          <h4 class="iconDescription">SERVICES WE PROVIDE</h4>
        </center>
        <ul>
          <li class="iconSubHeader">Design Build and Permits</li>
          <li class="iconSubHeader">Preliminary Project Budget and Scheduling</li>
          <li class="iconSubHeader">Budget Evaluation and Cost Control</li>
          <li class="iconSubHeader">Construction Team:Engineers, Architects, Project Managers, Supervisors, Excavators, Carpenters, Finishing Carpenters, Roofers, Plumbers, Electricians, HVAC Team, Drywall Crew, Painters and Landscapers.</li>
        </ul>
      </div>
    </div>
    <br>
    <center><%= link_to 'Contact Us 24/7', '#', :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
