<div class="growOpServices">
  <div class="container">
    <center><h3 class="waterIconHeader">Grow-Op Remediation</h3></center>
    <div class="row">
      <div class="col-s-12 col-md-4">
        <center><i class="fa fa-clock-o fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">24/7 GROW-OP RESTORATION</h5></br><p class="iconSubHeader">We have the proper equipment, knowledge and experience to handle your commercial or residential biohazard needs.</p></center>
      </div>
      <div class="col-s-12 col-md-4">
        <center><i class="fa fa-truck fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">GROW-OP ABATEMENT</h5></br><p class="iconSubHeader">Drywall, framing, flooring, roofs, ventilation and so much more are affected when buildings are use as illegal grow-ops. Removing any affected aspect of the home or business is key to making the space ready for further restorative services.</p></center>
      </div>
      <div class="col-s-12 col-md-4">
        <center><i class="fa fa-exclamation-circle fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">DANGERS OF A GROW-OP</h5></br><p class="iconSubHeader">A property used previously as an illegal grow-op is simply unsafe for living without serious restoration services. Contact us today for a free consultation.</p></center>
      </div>
    </div>
    <br>
    <center><%= link_to 'Contact Us 24/7', locations_path, :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
