<div class="moldServices">
  <div class="container">
    <center><h3 class="waterIconHeader">MOLD ABATEMENT</h3></center>
    <div class="row">
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-clock-o fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">24/7 MOLD RESTORATION</h5></br><p class="iconSubHeader">Our mold testing and mold removal team is available 24/7, to help you with your emergency mold restoration needs.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-search fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">MOLD TESTING</h5></br><p class="iconSubHeader">We can test and inspect your property for existing mold or areas that could be at high risk for future mold growth.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-leaf fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">MOLD REMOVAL</h5></br><p class="iconSubHeader">We are professional mold removal experts, we not only remove the problem area but also mitigate the chance of regrowth.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-building fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">COMMERCIAL SERVICE</h5></br><p class="iconSubHeader">If you know or believe your commercial property has mold, contact us for testing, removal and mitigation.</p></center>
      </div>
    </div>
    <br>
    <center><%= link_to 'Contact Us 24/7', locations_path, :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
