<div class="waterServices">
  <div class="container">
    <center><h3 class="waterIconHeader">WATER DAMAGE RESTORATION</h3></center>
    <div class="row">
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-clock-o fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">24/7 EMERGENCY WATER RESTORATION</h5></br><p class="iconSubHeader">Our water and flood damage restoration team is available 24/7 and 365 days a year, providing emergency restoration services.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-ship fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">FLOOD DAMAGE RESTORATION</h5></br><p class="iconSubHeader">Flooding is damaging on a home, and usually wrecks a basement. If your home has experienced flooding contact us immediately.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-tint fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">WATER DAMAGE REPAIR &amp; RESTORATION</h5></br><p class="iconSubHeader">Once the water is removed from the property we are able to repair the damaged areas and restore it to new condition.</p></center>
      </div>
      <div class="col-s-12 col-md-3">
        <center><i class="fa fa-leaf fa-5x waterIcon" aria-hidden="true"></i><br><h5 class="iconDescription">MOLD PREVENTION &amp; RESTORATION</h5></br><p class="iconSubHeader">Homes with water damage are usually at high risk for mold growth, we take all the necessary precautions to prevent mold.</p></center>
      </div>
    </div>
    <br>
    <center><%= link_to 'Contact Us 24/7', locations_path, :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
  </div>
</div>
