/* line 2, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.homeCarousel {
  height: 100%;
  width: 100%;
}

/* line 7, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.aicoIntroHeader {
  padding-top: 17%;
  font-family: 'clinica_proregular';
  color: #FFFFFF;
}

/* line 13, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.aicoIntroBody {
  font-family: 'latolight';
  color: #FFFFFF;
}

/* line 18, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.aicoIntroContactBtn {
  font-family: 'clinica_proregular';
  border-color: #FFFFFF;
  color: #FFFFFF;
  padding-left: 25%;
  padding-right: 25%;
}

/* line 25, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.aicoIntroContactBtn:hover {
  font-family: 'clinica_proregular';
  border-color: #27627A;
  color: #FFFFFF;
  background-color: #27627A;
  padding-left: 25%;
  padding-right: 25%;
}

/* line 34, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.aicoServicesHeader {
  font-family: 'clinica_proregular';
  color: #2A3A5F;
  padding-top: 5%;
  padding-bottom: 3%;
}

/* line 41, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.aicoSvcCallBtn {
  margin-top: 5%;
  font-family: 'clinica_proregular';
  border-color: #2A3A5F;
  color: #2A3A5F;
  padding-left: 25%;
  padding-right: 25%;
}

/* line 49, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.aicoSvcCallBtn:hover {
  font-family: 'clinica_proregular';
  font-family: 'clinica_proregular';
  border-color: #27627A;
  color: #FFFFFF;
  background-color: #27627A;
  padding-left: 25%;
  padding-right: 25%;
}

/* line 59, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
.aicoChooseUsHeader {
  font-family: 'clinica_proregular';
  color: #FFFFFF;
  padding-top: 10%;
  padding-bottom: 3%;
}

@media screen and (min-width: 0em) {
  /* line 69, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
  .aicoHome1 {
    height: 500px;
    background-color: #2A3A5F;
    border-top: 5px solid #27627A;
    border-bottom: 5px solid #27627A;
  }

  /* line 76, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
  .aicoHome2 {
    height: 800px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #27627A;
  }

  /* line 82, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
  .aicoHome3 {
    height: 675px;
    background-color: #2A3A5F;
    border-bottom: 5px solid #27627A;
  }
}
@media screen and (min-width: 48em) {
  /* line 90, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
  .aicoHome1 {
    height: 638px;
    background-color: #2A3A5F;
    border-top: 5px solid #27627A;
    border-bottom: 5px solid #27627A;
  }

  /* line 97, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
  .aicoHome2 {
    height: 400px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #27627A;
  }

  /* line 103, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/aico.scss */
  .aicoHome3 {
    height: 638px;
    background-color: #2A3A5F;
    border-bottom: 5px solid #27627A;
  }
}
