/* line 1, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerLogo {
  width: 100%;
}

/* line 5, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerTag {
  width: 15%;
}

/* line 8, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
footer {
  background-color: #0c1a1e;
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
}

/* line 9, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerleft {
  margin-top: 50px;
  padding: 0 36px;
}

/* line 10, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.logofooter {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

/* line 12, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerleft p {
  color: #fff;
  font-size: 12px !important;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

/* line 13, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerleft p i {
  width: 20px;
  color: #999;
}

/* line 16, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.paddingtop-bottom {
  margin-top: 50px;
}

/* line 17, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footer-ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 2px;
}

/* line 18, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footer-ul li {
  line-height: 29px;
  font-size: 12px;
}

/* line 19, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footer-ul li a {
  color: #a0a3a4;
  -webkit-transition: color 0.2s linear 0s, background 0.2s linear 0s;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

/* line 20, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footer-ul i {
  margin-right: 10px;
}

/* line 21, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footer-ul li a:hover {
  -webkit-transition: color 0.2s linear 0s, background 0.2s linear 0s;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
  color: #ff670f;
}

/* line 23, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* line 32, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.icon-ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

/* line 33, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.icon-ul li {
  line-height: 75px;
  width: 100%;
  float: left;
}

/* line 34, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.icon {
  float: left;
  margin-right: 5px;
}

/* line 37, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.copyright {
  min-height: 40px;
  background-color: #000000;
}

/* line 38, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.copyright p {
  text-align: left;
  color: #FFF;
  padding: 10px 0;
  margin-bottom: 0px;
}

/* line 39, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.heading7 {
  font-size: 21px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}

/* line 40, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.post p {
  font-size: 12px;
  color: #FFF;
  line-height: 20px;
}

/* line 41, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.post p span {
  display: block;
  color: #8f8f8f;
}

/* line 42, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.bottom_ul {
  list-style-type: none;
  float: right;
  margin-bottom: 0px;
}

/* line 43, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.bottom_ul li {
  float: left;
  line-height: 40px;
}

/* line 44, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.bottom_ul li:after {
  content: "/";
  color: #FFF;
  margin-right: 8px;
  margin-left: 8px;
}

/* line 45, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.bottom_ul li a {
  color: #FFF;
  font-size: 12px;
}

/* line 47, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerTelLink {
  color: #FFFFFF;
}

/* line 48, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerTelLink:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/* line 50, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerMailLink {
  color: #FFFFFF;
}

/* line 51, /Users/taurenltd/Desktop/Tauren Group Projects/aico_construction/app/assets/stylesheets/footer.scss */
.footerMailLink:hover {
  color: #FFFFFF;
  text-decoration: none;
}
