.fireServices{
  height: 578px;
  background-color: #2A3A5F;
  border-bottom: 5px solid #27627A;
  border-top: 5px solid #27627A;
}

.waterIconHeader{
  padding-top: 5%;
  color: #FFFFFF;
  font-family: 'clinica_proregular';
}

.waterIcon{
  padding-top: 5%;
  color: #FFFFFF;
}

.iconDescription{
  color: #FFFFFF;
  font-family: 'latoheavy'
}

.iconSubHeader{
  color: #FFFFFF;
  font-family: 'latolight';
}
