.locationCard{
  font-size: 0.8em;
}

.card{
  margin-bottom: 2%;
}

.viewLocation{
  width: 50%;
}

.contactDisclaimer{
  font-size: 0.5em;
}

.locationsContainer{
  padding-bottom: 50px;
}

.textBody{
  height: 50px;
}
